body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-55px;
  width:721px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:624px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:40px;
  width:361px;
  height:624px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:24px;
  background:inherit;
  background-color:rgba(250, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:40px;
  width:304px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:302px;
  word-wrap:break-word;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:64px;
  width:336px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
