body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-96px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:56px;
  width:640px;
  height:268px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:640px;
  word-wrap:break-word;
}
